@use '@fontsource-variable/inter';

:root {
  --text-color: 251, 251, 251;
  --background-color: 22, 22, 29;

  --error-bg: 255, 147, 149;
  --warning-bg: 255, 215, 159;
  --success-bg: 199, 215, 167;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;

  font-family: 'Inter Variable', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
}

body {
  margin: 0;
  color: rgb(var(--text-color));
  background-color: rgb(var(--background-color));
}
